<div class="text__layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes incluidos en angular - usualmente incluidos en el Common Module
    </p>
</div>
<div class="grid">
    <div class="col md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo
            </p>
        </p-fieldset>
    </div>
    <div class="col md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo
            </p>
        </p-fieldset>
    </div>
</div>