<table class="table table-hover animate__animated animate__fadeInLeftBig" *ngIf="hayError == false">
    <thead>
        <tr>
            <th>#</th> 
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody *ngFor="let pais of paises; index as i;">
        <tr>
            <td>{{i}}</td>
            <td><img [src]="pais.flags.png" class="img-flag img-fluid"></td>
            <td>{{pais.name.common | titlecase}}</td>
            <td>{{pais.population | number}}</td>
            <td>
                <a [routerLink] = "['/pais', pais.altSpellings[0]]" class="btn btn-primary">Ver pais</a>
                <!-- Can't bind to 'routerLink' since it isn't a known property of 'a'
                    para este error debemos impoprtar el RouterModule
                -->
            </td>
        </tr>
    </tbody>
</table>