<h2>Busquedas</h2>
<hr>
<ul class="list-group ">
    <li routerLink=""           routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"   class="list-group-item sidebarLink">Buscar Pais</li>
    <!-- ahora gracias a [routerLinkActiveOptions]="{exact:true}" la ruta principal se pondra azul solo cuando el path sea exsacto -->
    <li routerLink="region"     routerLinkActive="active"    class="list-group-item sidebarLink">Buscar Region</li>
    <li routerLink="capital"    routerLinkActive="active"   class="list-group-item sidebarLink">Buscar capital</li>
</ul>
