<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <app-input 
        (onQuery)="buscar($event)"
        (onDebounce)="mostrarSugerencias($event)"
        [title]="title"
        ></app-input>
    </div>
</div>

<!-- crearemos nuestra caja de busqueda a continuacion -->
<ul *ngIf="sugerencias" class="list-group">
    <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/pais',pais.altSpellings[0]]">{{pais.name.common}}</a>
        
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="nav-link" (click)="buscarSugerido(termino)">Buscar: "{{termino}} "</a>
        
    </li>
</ul>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontro nada con el termino {{termino}}
</div>
<div class="col" *ngIf="paises.length > 0">
    <app-tabla-pais [paises]="paises" [hayError]="hayError"></app-tabla-pais>
</div>