<div class="flex flex-column p-2">
    <h3>Buscador</h3>
        <mat-form-field>
            <mat-label>Buscar Heroe</mat-label>
            <input matInput placeholder="search"
            [formControl] = "searchInput"
            (input)="searchHero()"
            [matAutocomplete]="auto"
            >
            <!--mientras escribo en el input se ejecuta el evento searchHero() -->

            <mat-autocomplete utoActiveFirstOption
                #auto="matAutocomplete"
                (optionSelected)="onSelectedOption($event)">
                <!-- cuando se escoja una de las opciones de mat-option se ejecuta el metodo onselecTedOption-->
                <!-- este metodo manda el eevento y ese evento contiene los valores de searcHero-->

                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                  {{heroe.superhero}}
                </mat-option>
                <!-- estas opciones se llenean con el arreglo que me retorna el componente cuando escribo en el input -->
                <!-- La opción seleccionada contiene el valor de la propiedad [value] -->
                <mat-option
                 *ngIf="heroes.length == 0 && searchInput.value && searchInput.value.length > 0">
                 <!-- Este ngIf muestra un mensaje al usuario indicando que no se encontraron
                    resultados de búsqueda si la lista de héroes está vacía y se ha ingresado un
                    término de búsqueda válido. -->
                    No se encontro nada con el termino{{searchInput.value}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        {{selectedHero | json}}
    </div>
    <!-- {{searchInput.value | json}} me mostrara el valor del formulario
    {{searchInput.touched | json}} me indica si el formulario fue tocado boolean
    {{searchInput.pristine | json}} me indica si el formulario fue modificado boolean -->


    <!-- cuando precionamos un resultado se nos agrega un comportamiento el input y es que se nos agrega
        object al input  -->
